.main{
  background:#f4f4f4;
  padding:30px;
}

/* ONLY 2 CARDS */
.layout{
  display:flex;
  gap:20px;
}

/* CARD */
.card{
  background:#fff;
  padding:20px;
  border-radius:12px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
  flex:1;
}

/* INPUT */
.grid2{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
  margin-bottom:10px;
}

input,select{
  padding:10px;
  border-radius:8px;
  border:1px solid #ddd;
}

/* DIM */
.dim{
  background:#fff5f5;
  border:1px solid #ff4d4d;
  padding:10px;
  border-radius:10px;
}

.dim-row{
  display:flex;
  gap:6px;
  margin-bottom:6px;
}

.dim-row input{
  width:60px;
}

.add-btn{
  padding:6px 10px;
  font-size:12px;
  background:#ff4d4d;
  color:white;
  border:none;
  border-radius:6px;
}

.remove-btn{
  background:black;
  color:white;
  border:none;
  padding:4px 6px;
  border-radius:4px;
}

/* RESULT FIX */
.result-box{
  background:#000;   /* FINAL FIX */
  color:#fff;
  padding:15px;
  border-radius:10px;
}

.row{
  display:flex;
  justify-content:space-between;
  margin:5px 0;
}

.calc-btn{
  width:100%;
  background:#2e7d32;
  color:#fff;
  padding:10px;
  border:none;
  border-radius:8px;
  margin-top:10px;
}

@media(max-width:768px){
  .layout{
    flex-direction:column;
  }
}