.app {
  background: #f4f6f9;
  min-height: 100vh;
  padding: 20px;
  font-family: sans-serif;
}

.dark {
  background: #0f172a;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.layout {
  display: flex;
  gap: 20px;
}

.left {
  flex: 2;
}

.right {
  flex: 1;
}

.card {
  background: white;
  padding: 18px;
  border-radius: 12px;
  margin-bottom: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  animation: fade 0.3s ease;
}

.dark .card {
  background: #1e293b;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.row {
  display: flex;
  gap: 10px;
}

button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  background: #111;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.uploadBox {
  border: 2px dashed #aaa;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
}

/* MODAL */
.modal {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.5);
  display:flex;
  justify-content:center;
  align-items:center;
}

.modalBox {
  background:white;
  padding:20px;
  border-radius:12px;
  width:400px;
  animation: slide 0.3s ease;
}

.dark .modalBox {
  background:#1e293b;
}

@keyframes fade {
  from {opacity:0}
  to {opacity:1}
}

@keyframes slide {
  from {transform: translateY(50px)}
  to {transform: translateY(0)}
}